.avatar{

    width:44px;
    height:44px;

    border-radius:50%;

    background:var(--primary);

    color:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:600;

    flex-shrink:0;
}