.search-bar{

    width:100%;
}

.search-bar input{

    width:100%;

    padding:.8rem 1rem;

    border-radius:var(--radius-md);

    border:10px solid red;

    outline:none;

    transition:.2s;
}

.search-bar input:focus{

    border-color:var(--primary);
}