.sidebar {
   width: 270px;
   height: 100vh;
   position: fixed;
   top: 0;
   left: -270px;

    overflow-y: auto; /* scroll when needed */

    background: var(--card);
    border-right: 1px solid #e5e7eb;
    box-shadow: var(--shadow-md);

    padding: 1rem;

    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar--open {
    left: 0;
}

.sidebar__link {
    display: block;
    padding: 0.8rem 1rem;

    color: var(--text);

    border-radius: var(--radius-md);

    margin-bottom: 0.4rem;

    transition: 0.2s;
}

.sidebar__link:hover {
    background: #f3f4f6;
}

.sidebar__link--active {
    background: var(--primary);
    color: white;
}

/* Tablet & Desktop always visible */
@media (min-width: 768px) {
 .sidebar{
    width: 270px;
    flex-shrink: 0;
    position: sticky;
    left: 0;
    top: var(--navbar-height); 
    height: calc(100vh - var(--navbar-height));
}
}